body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(bg.jpg);
    background-size: cover;
}

.box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.box h2
{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.box option
{
    position: relative;
}

#originOption
{
    width: 100%;
    padding: 8px 0;
    font-size: 14px;
    margin-bottom: 30px;
    border: none;
    outline: none;
}

#destinationOption
{
    width: 100%;
    padding: 8px 0;
    font-size: 14px;
    margin-bottom: 30px;
    border: none;
    outline: none;
}

#result
{
    background: transparent;
    width: 100%;
    padding: 8px 0;
    font-size: 16px;
    margin-top: 30px;
    border: none;
    outline: none;
    color: #fff;
}

label
{
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
}

button
{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}